/.settings
/gamma.core/.settings
/gamma.demo/.settings
/gamma.demo/gamma.demo.api/.settings
/gamma.demo/gamma.demo.client/.settings
/gamma.demo/gamma.demo.client/.apt_generated
/gamma.demo/gamma.demo.server/.settings
/gamma.dependency/.settings
/gamma.engine/.settings
/gamma.monitor/.settings
/gamma.registry/.settings
/gamma.remoting/.settings
/gamma.remoting.api/.settings
/gamma.rpc/.settings
/gamma.rpc.api/.settings
/gamma.spring/.settings
/gamma.spring.api/.settings
/gamma.test/.settings
/gamma.registry/target
/gamma.connector/target
/gamma.core/target
/gamma.demo/target
/gamma.demo/gamma.demo.api/target
/gamma.demo/gamma.demo.client/target
/gamma.demo/gamma.demo.server/target
/gamma.engine/target
/gamma.remoting/target
/gamma.remoting.api/target
/gamma.rpc/target
/gamma.rpc.api/target
/gamma.spring/target
/gamma.spring.api/target
/gamma.test/target
